table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: grey;
}
th, td {
  padding: 50px;
}

#blue{
  background-color: blue;
}
#green{
  background-color: green;
}
#white{
  background-color: white;
}
#yellow{
  background-color: yellow;
}